Tutorial 05/Tutorial5Client/src/META-INF/wsdl/localhost_8080/Tutorial5/Tutorial5WebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://server/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://server/">

<xs:element name="Exception" type="tns:Exception"/>

<xs:element name="addSample" type="tns:addSample"/>

<xs:element name="addSampleResponse" type="tns:addSampleResponse"/>

<xs:element name="getMaximum" type="tns:getMaximum"/>

<xs:element name="getMaximumResponse" type="tns:getMaximumResponse"/>

<xs:element name="getNumberOfSamples" type="tns:getNumberOfSamples"/>

<xs:element name="getNumberOfSamplesResponse" type="tns:getNumberOfSamplesResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="isConnected" type="tns:isConnected"/>

<xs:element name="isConnectedResponse" type="tns:isConnectedResponse"/>

<xs:complexType name="addSample">
<xs:sequence>
<xs:element name="sample" type="tns:temperatureSample" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="temperatureSample">
<xs:sequence>
<xs:element name="value" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addSampleResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getNumberOfSamples">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getNumberOfSamplesResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="isConnected">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="isConnectedResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMaximum">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getMaximumResponse">
<xs:sequence>
<xs:element name="return" type="tns:temperatureSample" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>